@media (min-width: 1200px) {
        #myVideo {
        height: 100vh;
    }
}

@media (min-width: 992px) {
        .video-home_section{
            width: 110%;
        }
    
    .left-footer {
        grid-template-rows: 480px 100px 480px;
    }

    .footer-links {

    }

    #myVideo {
        height: 170vh;
    }

    .footer-home-page {
        height: 90vh;
    }

    
}

@media (min-width: 768px) {
    .video-home_section{
        width: 240%;
    }

    .left-footer {
        grid-template-rows: 625px 100px 625px;
        width: 120px;
    }

    .left-footer__name-studios {
        font-size: 55px;

    }

    .left-footer__menu-btn {
    width: 120px;
    background: url(./img/menu-regular-60\ \(1\).png) no-repeat 10px;
    background-size: auto 100%;
    }

    .left-footer-links {
        font-size: 60px;
    }

    .footer-links {
        grid-template-rows: 70px 70px 70px 70px 70px auto;
        padding-top: 180px;    
    }

    .footer-links__shell {
        padding-left: 30px;
    }

    .footer-home-page {
        height: 90vh;
    }
}

@media (min-width: 480px) {
    .video-home_section{
        width: 320%;
    }

    
    .home_section {
        height: 80vh;
        max-width: 767px;
    }
}

@media (max-width: 480px) {
    .video-home_section{
        width: 560%;
    }

    .title-shell {
        padding-left: 10%;
        width: 80%;
        padding-right: 10%;
        padding-top: 6%;
        height: 160px;
    }

    .main_section {
        grid-template-columns: auto;
    }

    .title1 {
        font-size: 32px;
    }

    .main-title {
        padding-top: 0;
    }

    .line {
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0;
    }   

    .title2 {
        padding-top: 12%;
        font-size: 18px;
        font-weight: 100;
    }

    .home_section {
        height: 80vh;
        max-width: 479px;
    }
}